In [14]:
# Print state
print("Hello World!")
print("Adesh", "Khandait", 100, "@",1.5)

Hello World!
Adesh Khandait 100 @ 1.5

# Variables

- Cannot start with Number

In [15]:
a = 8
b = 9.4
c = 4684616134563131000000000156160313135115313513156651

print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

8 9.4 4684616134563131000000000156160313135115313513156651
<class 'int'>
<class 'float'>
<class 'int'>

Invalid

In [16]:
9abc = 6

SyntaxError: invalid syntax (1239881071.py, line 1)

### Identifiers
- similar to pointer

In [ ]:
i = 8
id(i)

In [ ]:
abc = "Adesh Khandait"
id (abc)

# Basic Datatype
- int
- float
- string
- bool
- none

In [21]:
#int
i = 8
print(type(i))

# Float

b = 45.4679
print(type(b))

# String 
name = "Adesh Khandait"
print(type(name))

# Bool
bo = True
print(type(bo))

# complex
c = 5 + 6j
print(type(c))
# none
d = None
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'NoneType'>

# Input and Type Casting

- input() always return string data type
- we can later type cast it

In [31]:
name = input("Enter your Please: ")

print(type(name))
print(type(int(name)))

Enter your Please: 5
<class 'str'>
<class 'int'>

In [34]:
floater = float(input("Enter th Number please: "))
type(floater)

Enter th Number please: 5.1156131

float

# Mutliline state

In [36]:
a = 1 + 5 +2+96+6+99+65 \
     + 156 + 1564
print(a)

1994

In [41]:
a = (1 + 5 + 2 + 96 + 6 + 99 + 65+
    + 156 + 1564)
print(a)

1994

# Output Formating

In [51]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print(" My Name is {n} and i am {a} years old!".format(n = name, a = age))
print("My Name is {} and i am {} years old!".format(name,age))
print("My Name is {1} and i am {0} years old!".format(name,age))
print("My Name is {0} and i am {1} years old!".format(name,age))

Enter your name: Adesh Khandait
Enter your age: 45
 My Name is Adesh Khandait and i am 45 years old!
My Name is Adesh Khandait and i am 45 years old!
My Name is 45 and i am Adesh Khandait years old!